<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Je suis Gwendoline Popieul, je suis développeuse web. J'ai réalisée ce portfolio dans le but de vous présenter mes compétences et mes réalisations">
        <meta name="author" content="Gwendoline Popieul">
        <meta name="keywords" content="Gwendoline Popieul, Portfolio, Portfolio Gwendoline Popieul, Gwendoline Popieul portfolio, développeur web, portfolio développeur web,  développeur web, développeur web occitanie">
        <title>{% block title %}Gwendoline Popieul - portfolio développeuse web{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/FaviconLogoportfolio.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="{{asset('style/header.css') }}">
            <link rel="stylesheet" href="{{asset('style/footer.css') }}">
            <link rel="stylesheet" href="{{asset('style/about.css') }}">

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="container_nav">
        <div class="container navigation">
            <a class="logo" href="{{ path('home') }}">
                <img src="{{asset('image/HedaerLogoportfolio.png')}}" class="">
            </a>
            <div class="menu_nav" >
                <ul class="menu">
                    <li><a class="" href="{{ path('about') }}">À propos</a></li>
                    <li><a class="" href="{{ path('projet') }}">Réalisation</a></li>
                    <li><a class="" href="#">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <li><a class="" href="{{ path('admin') }}">Administration</a></li>
                        <li><a class="" href="{{path('app_logout') }}">Déconnexion</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

        {% block body %}{% endblock %}

    <footer class="pt-4 pt-md-5 footer">
        <div class="contenu_footer">
            <div class="copyright">
                <small class="d-block mb-3 text-muted">Copyright &copy; Gwendoline Popieul</small>
            </div>
            <div class="text-muted informations">
                <p><i class=" fa-brands fa-linkedin"></i><span class="info">Linkedin</span></p>
                <p><i class=" fa-solid fa-phone"></i><span class="info">06.14.71.13.73</span></p>
                <p><i class=" fa-solid fa-envelope"></i><span class="info"> gwendopopi@yahoo.fr</span></p>
            </div>
        </div>
    </footer>
    </body>
</html>
