{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="about-page">
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 ">
                    <div class="about-header">
                        <h2 class=" mb-4">
                            PRÉSENTATION
                            <span>Qui suis-je ?</span>
                        </h2>
                        <div class="line"></div>
                    </div>
                    <div class="row">
                        <p class="">
                            Développeuse web junior.

                            Suite à une réorientation, et passionnée par le design et le développement , j'ai réalisé ma formation au sein du campus numérique aen de Pamiers.

                            Suite à l'obtention de mon titre professionnel de développeuse web & web mobile de niveau 5, je suis à la recherche d'un emploi dans le domaine de développement web.

                            Je prends plaisir à la réalisation de site en Symfony et wordpress
                        </p>
                    </div>

                    <button class="btn about" ><a href="{{ path ('projet') }}">Voir mes réalisations </a></button>
                </div>
            </div>
        </div>

        <div class="competences">
            <div class="about-header">
                <h2 class=" mb-4">
                    COMPÉTENCES
                </h2>
                <div class="line"></div>
            </div>
            <p>BACK-END</p>
            <div class="progress">
                <div class="progress-bar php progress-bar-warning" role="progressbar" aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100" style="width:75%">
                     PHP
                    <i class="val">75%</i>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar symfony progress-bar-danger" role="progressbar" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    SYMFONY
                    <i class="val">80%</i>
                </div>
            </div>
            <p>FRONT-END</p>
            <div class="progress">
                <div class="progress-bar html progress-bar-danger" role="progressbar" aria-valuenow="95"
                     aria-valuemin="0" aria-valuemax="100" style="width:95%">
                    HTML
                    <i class="val">95%</i>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar css progress-bar-danger" role="progressbar" aria-valuenow="90"
                     aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    CSS
                    <i class="val">90%</i>
                </div>
            </div>
            <p>CMS</p>
            <div class="progress">
                <div class="progress-bar wordpress progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    WORDPRESS
                    <i class="val">70%</i>
                </div>
            </div>
        </div>

        <div>
            <div class="about-header">
                <h2 class=" mb-4">
                    EXPÉRIENCE PROFESSIONNELLE ET UNIVERSITAIRE
                </h2>
                <div class="line"></div>
            </div>
        </div>
        <section id="cd-timeline" class="cd-container">

            <div class="cd-timeline-block ">
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Formici - Développeuse web - web mobile </h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          En formation
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Depuis 11/2021 - (certification 09/2022)
                      </span>
                    </div>
                    <p>Campus numérique de Pamiers</p>
                    <ul class="content-skills">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Travail d'équipe</li>
                        <li>PHP</li>
                        <li>Angular</li>
                        <li>Symfony</li>
                        <li>WordPress</li>

                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Expert en ingénieurie logiciel</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          Formation
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Sept 2019 - Août 2021
                      </span>
                    </div>
                    <p>NIveau 2éme année - Campus numérique Pamiers</p>
                    <ul class="content-skills">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>JAVA</li>
                        <li>Angular</li>
                        <li>C++</li>
                        <li>Boostrap</li>
                        <li>SQuel</li>
                        <li>Travail d'équipe</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Hotliner</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          CDD
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Fevrier 2020
                      </span>
                    </div>
                    <p>Equadex Pamiers.</p>
                    <ul class="content-skills">
                        <li>Réception téléphonque</li>
                        <li>Création tickets clients</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Stage - Analyse de biologie médicale</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Juin 2018
                      </span>
                    </div>
                    <p>Hospital de Dunkerque</p>
                    <ul class="content-skills">
                        <li>Reception des échantillons</li>
                        <li>Mise en place dans les automates</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                </div>

                <div class="cd-timeline-content">
                    <h2>Stage - Analyse de biologie médicale</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Juin 2017
                      </span>
                    </div>
                    <p>Laboratoire Biolab Avenir - Auterive</p>
                    <ul class="content-skills">
                        <li>Reception des échantillons</li>
                        <li>Mise en place dans les automates</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>BTS - Analyse de biologie médical</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          Niveau Bac +2
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Septembre 2016 - Juillet 2018
                      </span>
                    </div>
                    <p>Lycée Adonis - Toulouse</p>
                    <ul class="content-skills">
                        <li>Biologie</li>
                        <li>Hémathologie</li>
                        <li>Microbiologie</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Baccalauréat série scientifique Spécialisation STL</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          Obtention
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          2016
                      </span>
                    </div>
                    <p>Lycée Pyréne - Pamiers</p>
                    <ul class="content-skills">
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <h2>Polyvalente vente</h2>
                    <div class="timeline-content-info">
                      <span class="timeline-content-info-title">
                          <i class="lni lni-flickr"></i>
                          Job Étudiant - CDI
                      </span>
                        <span class="timeline-content-info-date">
                          <i class="lni lni-calendar"></i>
                          Décembre 2014 - Octobre 2021
                      </span>
                    </div>
                    <p>Intermarché la cavalerie - Pamiers</p>
                    <ul class="content-skills">
                        <li>Hôtesse de caisse</li>
                        <li>Caisse libre service</li>
                        <li>Boucherie</li>
                        <li>Fromagerie</li>
                        <li>Charcuterie</li>
                        <li>Poisonnerie</li>
                        <li>Boulangerie</li>
                    </ul>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

        </section> <!-- cd-timeline -->


        <div class="curriculum">
            <h3>Consultez mon curriculum vitae en ligne</h3>
            <button  class="btn about"><a href="{{ asset('image/cv gwendoline popieul.pdf') }}" target="_blank">Télécharger le CV ici !</a> </button>
        </div>
    </section>


    </div>
{% endblock %}