{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- About-->
    <section class="about-section text-center page-accueil" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class=" mb-4">Création de site web</h2>
                    <h3 class="mb-4">Développeuse web junior</h3>
                    <p class="">
                       Symfony - WordPress
                    </p>
                    <button class="btn about" ><a href="{{ path ('about') }}">À propos de moi </a></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
