
.footer{
    padding-bottom: 3%;
    background-color: #252525;
}

.copyright{
    text-align: center;
}
.contenu_footer{
    text-align: center;
}

.informations{
    display: flex;
    justify-content: center;
}
.informations p{
    margin: 0 15px;
}
.info {
    margin: 0 0 0 9px;
}