.container_nav{
    background: #252525;
    display: flex;
    padding: 15px 0;
}
.navigation{
    display: flex;
}
.logo img{
    width: 50%;
}
.menu_nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin:0 30px
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.page-accueil{
    padding: 10% 0 15% 0;
    color: white;
    background-color: #252525 ;
}
.about{
    background:#FC9702;
}
.about a{
    text-decoration: none;
    color: #343434;
}
