{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block body %}
<div class="about-page">
    <section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 ">
                <div class="about-header">
                    <h2 class=" mb-4">
                        MES RÉALISATIONS
                        <span>Projets</span>
                    </h2>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="album pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% for key, item in page %}
                        <div class="card" style="width: 450px; margin-top: 50px">
                            {% if item.getImageNameImg %}
                                <img src="{{ vich_uploader_asset(item, 'image')}}" class="card-img-top" />
                            {% else %}
                                <img src='{{ '/images/projets/empty.png' }}' alt="" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.getNom }}</h5>
                                <p>Projet: {{ item.getLangage }}</p>
                                <div class="btn-group">
                                    <p class="btn btn-sm btn-secondary">{{ item.getType }}</p>
                                    <p class="btn btn-sm btn-secondary">{{ item.getAnneeRealisation }}</p>

                                </div>

                                <a href="{{ path('show_projet', {id: item.getId, slug: item.getSlug}) }}" class="btn btn-primary">Voir le projet</a>

                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
</div>


{% endblock %}
