{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ projet.nom }}</h1>
            {% if projet.getImageNameImg %}
                <img src="{{ vich_uploader_asset(projet, 'image')}}" class="card-img-top" />
            {% else %}
                <img src='{{ '/images/projets/empty.png' }}' alt="" class="card-img-top">
            {% endif %}
            <h4 class="cover-heading">Projet : {{ projet.langage }}</h4>
            <p class="lead">{{ projet.contenu|raw }}</p>
           <p>Projet réaliser en {{ projet.type }} </p>
            <p>Année {{ projet.anneeRealisation }}</p>
            {% if projet.lienSite != null  %}
               <p>lien du site : <a>{{ projet.lienSite }}</a></p>
            {% endif %}
            {% if projet.lienGit != null  %}
                <p>lien git : <a>{{ projet.lienGit }}</a></p>
            {% endif %}
        </main>

    </div>

{% endblock %}
